<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>{{  title  }}</h1>
        <h5>{{ title2 }}</h5>
        <p>{{ text }}</p>
        <p>{{ emoji }}</p>
        <div>
            <img src="{{ img }}" alt="">
        </div>
        <p>PRODUCT NAME</p>
        <p>Material : product materiel color:color</p>
        <p style="color:{{ color }};">PRICE $ ONLY</p>
        <p>TAKE MY MONEY</p>
    </div>
</body>
</html>